*, *:before, *:after {
    box-sizing: inherit;
}
html {
    line-height: 1.5;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
    display: block;
    box-sizing: border-box;
    background-image:url(image.png);
}
@media only screen and (min-width: 0px) {
    html {
        font-size: 14px;
    }
}
body {
    margin: 0;
    padding: 0;
    display: block;
}
.s__container {
    margin: 40px auto;
    max-width: 1280px;
    width: 70%;

}
.s__card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #171717;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 15px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.727), 0 3px 1px -2px rgba(0, 0, 0, 0.638), 0 1px 5px 0 rgba(0, 0, 0, 0.871);
}
.s__card .s__content {
    padding: 24px;
}
.s__card .s__content .s__title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 300;
    color: #c2bebe;
}
form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}
.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
        line-height: 1.15;
    overflow: visible;
    box-shadow: none;
    box-sizing: content-box;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
input[type="text"]:focus:not([readonly]) {
    border-bottom: 1px solid rgb(38, 166, 154);
    box-shadow: rgb(38, 166, 154) 0px 1px 0px 0px;
}
input[type="text"]:focus:not([readonly]) ~ label{
    transform: translateY(-10px);
    font-size: 12px;
    cursor: default;
    color: rgb(38, 166, 154);
}
.input-field>label {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    cursor: text;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
}
input[type=text]:not(.browser-default)+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
}
.btn {
    text-decoration: none;
    color: #fff;
    background-color: #1b867c;
    text-align: center;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    overflow: visible;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.btn:hover {
    background-color: #2bbbab;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.22), 0 3px 1px -1px rgba(0,0,0,0.2);
}
.black {
    background-color: #000 !important;
}
.s__card .s__action:last-child {
    border-radius: 15px;
}
.s__card .s__action {
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: 16px 24px;
}
h5 {
    display: block;
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0;
    font-weight: 400;
    color: #c2bebe;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
.s__collection {
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}


.s__collection .collection-item:last-child {
    margin-bottom: 20px;
}
.s__collection .collection-item {
    background-color: #4e4c4c;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
}

ul:not(.browser-default)>li {
    list-style-type: none;
}
.s__card .s__action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}
.secondary-content {
    float: right;
}
.fa {
    display: inline-block;
    font: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\2716";
    font-size: 20px;
}